<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>首頁</title>
    <style>
        body{
            text-align: center;
            background-color: rgb(167, 238, 238);
        }

        table{
            width: 80%;
            margin: 0 auto;
        }

        th{
            background: wheat;
        }
    </style>
</head>
<body>
    <h1>細懸浮微粒資料 (PM2.5)</h1>
    <a href="/update-db">更新資料庫</a>
    <table border="1">
        <thead>
            <tr>
                {% for col in columns %}
                <th>{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in datas %}
            <tr>
                {% for data in row %}
                <td>{{data}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
   
   
    <br>
    
</body>
</html>